@import "theme.css";

/*
 * WAYBAR STYLE
 */
* {
    all: unset;
    font-size: 12px;
    font-family: "GoMono Nerd Font";
}
window#waybar {
    all: unset;
    background: @background;
}

/*
 * Left modules
 */
.modules-left {
    all: unset;
    padding-left: 8px;
    margin: 6px 0 6px 0;
}
#workspaces {
    all: unset;
}
#workspaces button {
    all: unset;
    padding: 0 4px 0 4px;
    border-radius: 2px;
    font-weight: 700;
}
#workspaces button.empty {
    color: @muted;
}
#workspaces button.active,
#workspaces button.empty.active {
    background: @secondary;
    color: @background;
}
#workspaces button.urgent {
    background: @tertiary;
    color: @background;
}
#window {
    padding-right: 6px;
    color: @foreground;
}
#submap {
    margin-right: 6px;
    color: @foreground;
}

/*
 * Center modules
 */
.modules-center {
    all: unset;
    margin: 6px 0 6px 0;
}
#clock {
    padding: 0 6px 0 6px;
    border-radius: 2px;
    font-weight: 700;
    background: @secondary;
    color: @background;
}

/*
 * Right modules
 */
.margin-right {
    all: unset;
    margin: 6px 0 6px 0;
}
#tray {
    padding: 0 6px;
}

#pulseaudio,
#backlight,
#battery {
    all: unset;
    padding: 0 4px 0 4px;
    border-radius: 2px;
    font-weight: 700;
    color: @secondary;
}

#network {
    padding: 0 8px 0 8px;
    margin-right: 8px;
    font-size: 20px;
}

/*
 * Overlays
 */
tooltip {
    border: 2px solid @muted;

    background: @background;
    color: @foreground;
}
#tray menu {
    padding: 2px 2px;
    border: 2px solid @muted;

    background: @background;
    color: @foreground;
}
#tray menu * {
    padding: 2px 2px;
}
#tray menu *:hover {
    color: @secondary;
    font-weight: 700;
}
