/* --- --- --- --- --- --- --- --- ---
 * > rose pine ^^
 * --- --- --- --- --- --- --- --- --- */
@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

/* - > reset - */
* {
	font-family: 'GoMono Nerd Font';
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
}

/* --- --- --- --- --- --- --- --- ---
 * > main styles
 * --- --- --- --- --- --- --- --- --- */
window#waybar {
	background: @surface;
}
button,
#scratchpad,
#clock,
#tray,
#network,
#pulseaudio,
#backlight,
#battery,
#idle_inhibitor,
#power-profiles-daemon {
	background: @surface;
	color: @text;
	padding: 0 18px 0 10px;
  border: 2px solid @overlay;
}
#clock {
	padding: 0 16px;
}
#battery {
	padding: 0 8px;
}
#battery:not(.plugged),
#battery.full {
	color: @iris;
}
#battery.plugged {
	color: @love;
}

/* - > right - */
#workspaces button {
	font-size: 20px;
	margin-right: 16px;
	padding: 0 14px 0 8px;
}
#workspaces button.focused, #workspaces button.active {
	color: @love;
}
#workspaces button.urgent {
	background: @love;
	color: @surface;
}
#workspaces button:hover {
	background: @love;
	color: @surface;
}
#window {
	margin-right: 16px;
	color: @text;
	letter-spacing: -0.1rem;
}
#mode {
	margin: 8px 0 8px 0;
	padding: 0 4px 0 4px;
	background: @love;
	color: @surface;
	font-weight: 700;
	letter-spacing: -0.1rem;
}

/* - > middle - */


/* - > right - */
.modules-right > widget > * {
	margin-left: 16px;
	letter-spacing: 0.1rem;
}
#network {
	padding: 0 17px 0 11px;
	font-size: 24px;
}
#tray {
	padding: 0 8px;
	margin-right: 0px;
}
#power-profiles-daemon {
	font-size: 26px;
	padding: 0 12px 0 8px;
}
#power-profiles-daemon.performance {
	color: @love; 
}
#power-profiles-daemon.balanced {
	color: @gold;
}
#power-profiles-daemon.power-saver {
	color: @text; 
}

/* --- --- --- --- --- --- --- --- ---
 * > overlays
 * --- --- --- --- --- --- --- --- --- */
tooltip {
	background: @overlay;
	color: @text;
	border: 2px solid @muted;
}
menu {
	background: @overlay;
	color: @text;
	padding: 16px 0;
	border: 2px solid @muted;
}
menu *:hover {
	background: @love;
}
