@import "theme-mizu.css";

/* - > reset - */
* {
    font-family: 'GoMono Nerd Font';
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

/* --- --- --- --- --- --- --- --- ---
 * > main styles
 * --- --- --- --- --- --- --- --- --- */
window#waybar {
	background: @base;
}
button,
#scratchpad,
#clock,
#tray,
#network,
#pulseaudio,
#backlight,
#battery,
#idle_inhibitor,
#power-profiles-daemon {
    background: @surface;
    color: @text;
    padding: 0 18px 0 10px;
    border: 2px solid @surface;
}
#clock {
    padding: 0 16px;
}
#battery {
    padding: 0 8px;
}
#battery:not(.plugged),
#battery.full {
    color: @tertiary;
}
#battery.plugged {
    color: @primary;
}

/* - > left - */
#workspaces button {
    font-size: 20px;
    margin-right: 16px;
    padding: 0 14px 0 8px;
}
#workspaces button.focused, #workspaces button.active {
    color: @primary;
}
#workspaces button.urgent {
    background: @primary;
    color: @base;
}
#workspaces button:hover {
    background: @primary;
    color: @base;
}
#window {
    margin-right: 16px;
    color: @text;
    letter-spacing: -0.1rem;
}
#submap {
    margin: 8px 0 8px 0;
    padding: 0 4px 0 4px;
    background: @primary;
    color: @base;
    font-weight: 700;
    letter-spacing: -0.1rem;
}

/* - > middle - */


/* - > right - */
.modules-right > widget > * {
    margin-left: 16px;
    letter-spacing: 0.1rem;
}
#network {
    padding: 0 17px 0 11px;
    font-size: 24px;
}
#tray {
    padding: 0 8px;
    margin-right: 0px;
}
#power-profiles-daemon {
    font-size: 26px;
    padding: 0 12px 0 8px;
}
#power-profiles-daemon.performance {
    color: @secondary;
}
#power-profiles-daemon.balanced {
    color: @primary;
}
#power-profiles-daemon.power-saver {
    color: @text;
}

/* --- --- --- --- --- --- --- --- ---
 * > overlays
 * --- --- --- --- --- --- --- --- --- */
tooltip {
    background: @surface;
    color: @text;
    border: 2px solid @muted;
}
menu {
    background: @surface;
    color: @text;
    padding: 16px 0;
    border: 2px solid @muted;
}
menu *:hover {
    background: @primary;
}
